__pycache__
*.ipynb_checkpoints

Mahalanobis/*.pyc
Mahalanobis/lib/__pycache__
Mahalanobis/data/*
Mahalanobis/output/*
Mahalanobis/pre_trained/*
Mahalanobis/adv_output/*
Mahalanobis/libs/__pycache__
Mahalanobis/libs/transformations/__pycache__
Mahalanobis/*.ipynb_checkpoints
Mahalanobis/__pycache__
Mahalanobis/models/__pycache__

ODIN/*ipynb_checkpoints
ODIN/code/*.csv
ODIN/data/
